__pycache__
.mypy_cache
.pytest_cache
.vscode
.ipynb_checkpoints
data/hagen-morph.txt
data/hagen-morph-utf8.txt
data/database.sqlite
data/database.sqlite.backup
data/database.sqlite-journal
profile*.dat
static/index.js
