{% extends "base.html" %}
{% block body %}

   <div class="simpleText">
      <h1>
         <a href="{{ url_for('index') }}">
            <div class="textIcon">404</div>
            <p>Четыреста четыре</p>
            <p>(ошибка такая)</p>
         </a>
      </h1>
      
      <p>Вы ломитесь куда-то не туда.</p>
      <p>Пожалуйста, нас тут не беспокойте,</p>
      <p>Не лезьте сюда больше никогда</p>
      <p>И браузер с той стороны закройте.</p>
      
      <p class="separated">
         <a href="{{ url_for('index') }}">Вернуться на главную</a>
      </p>
   </div>

{% endblock %}
