{% extends "base.html" %}
{% block body %}

   <div class="simpleText">
      <h1>
         <a href="{{ url_for('index') }}">
            <img alt="..у́й" src="{{ url_for('static', filename='favicon.svg') }}" />
            <p>рифмуй!</p>
         </a>
      </h1>
      
      <p>Здесь будет рифмовник.</p>
      <p>Мы делаем его вот тут:</p>
      <p>
         <a href="https://github.com/sveto/rifmuj">github.com/sveto/rifmuj</a>
      </p>
      
      <p class="separated">
         <a href="{{ url_for('index') }}">Вернуться на главную</a>
      </p>
   </div>

{% endblock %}
