{% extends "search.html" %}
{% block title %}{{ input_word }} – {% endblock %}

{% block results %}

<div class="results">
   
{% set n = rhymes|length %}
{% if n == 0 %}
   <p>
      Рифмы на слово <i>{{ input_word }}</i> не найдены.
   </p>
   <div class="textIcon separated">:(</div>
{% else %}
   <p>
   {% if (n - 1) % 10 >= 4 or 10 <= n % 100 < 20 %}
      Найдено <b>{{ n }}</b> рифм
   {% elif n % 10 > 1 %}
      Найдены <b>{{ n }}</b> рифмы
   {% else %}
      Найдена <b>{{ n }}</b> рифма
   {% endif %}
      на слово <i>{{ input_word }}</i>:
   </p>

   <ul>
   {% for lemma in rhymes %}
      <li>
      {% for form in lemma -%}
         {% set opacity = 1.0 - 0.8 * form.distance -%}
         <span {% if not loop.first %}class="small" {% endif -%}
               data-orth="{{ form.orthogaphy }}"
               data-end="{{ form.ending }}"
               data-trans="{{ form.transcription }}"
               title="{{ form.distance|round(2) }}"
               style="opacity: {{ opacity|round(2) }}">
            {%- if loop.first -%}{{ form.orthogaphy }}{%- else -%}, {{ form.ending }}{%- endif -%}
         </span>
      {%- endfor %}
      </li>
   {% endfor %}
   </ul>
{% endif %}

</div>

{% if n > 0 %}
   <footer>
      <div id="filter">
         <input type="text" placeholder="фильтр" aria-label="фильтр" onfocus="this.select()" />
         <button id="applyFilter" type="button" title="применить">▸</button>
         <button id="clearFilter" type="button" title="очистить">×</button>
      </div>
   </footer>
{% endif %}

{% endblock %}
