{% extends "base.html" %}
{% block body %}

   <header>
      <div class="links">
         <a href="/about">Что это за сайт?</a>
         <a class="right" href="/random">Случайное слово</a>
      </div>
      
      <form id="search" role="search" action="{{ request.script_root }}/lookup">
         <input type="search" name="word" required autofocus placeholder="Введите слово" aria-label="Введите слово" value="{{ request.args.get('word') or '' }}" onfocus="this.select()" />
         <input type="submit" value="рифмуй!" />
      </form>
   </header>

   <div class="results">
      {% block results %}
      {% endblock %}
   </div>

{% endblock %}
